.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 0 auto;
  height: 35px;
}

.content {
  text-align: center;
  padding: 0 0 1em 0;
}
